
.nav-button {line-height: 3; color: #A2AC87; font-size: 14px; letter-spacing: 4px; text-align: center;}h1,
h2 {font-size: 50px; font-weight: 100; color: #444444;}.content {line-height: 2; color: #444444; font-size: 16px;}.active-menu {font-weight: bold;}body.enable-mobile {padding: 0;}.silex-runtime .editable-style.nav-section {position: fixed; z-index: 9999;}.silex-runtime .nav-section+.editable-style {margin-top: 100px;}body.silex-runtime {opacity: 1;}
